.launch_item {
  display: flex;
  height: 255px;
  box-shadow: var(--box-shadow);
  border-radius: 1.25em;
  margin-bottom: 1.5em;
  overflow: hidden;
  color: var(--grey);
}

.launch_minImg,
.launch_minInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.launch_minImg {
  background-color: var(--light-grey);
  font-size: 14px;
  width: 49%;
  color: var(--border-color);
}

.launch_minInfo {
  background-color: var(--light);
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.25em;
  width: 51%;
}

.min_flightName,
.min_flightDate {
  font-size: 16px;
}

.min_flightTitle {
  font-size: 18px;
  font-weight: 700;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 40px;
  border: 1px solid var(--contrast-color);
  background-color: var(--light);
  color: var(--contrast-color);
  font-size: 13px;
  border-radius: 10px;
  margin-top: 0.75em;
  text-align: center;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}

.linkButton:hover {
  text-decoration: none;
  color: var(--light);
  font-weight: 700;
  background-color: var(--contrast-color);
  letter-spacing: 1px;
}

.min_picture {
  max-width: 100%;
  max-height: 100%;
}
