.launches_form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--semi-grey);
  padding-bottom: 1.25em;
  margin: 1.25em;
  margin-bottom: 4em;
}

.form_element {
  width: 23.5%;
  display: flex;
  flex-direction: column;
}

.form_element:nth-child(3) {
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 8px;
}

.form_label {
  color: var(--grey);
  font-size: 14px;
}

.form_input {
  height: 40px;
  font-size: 13px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 2px 2px 2px 20px;
  color: var(--dark);
}

.form_input::placeholder {
  height: 40px;
  font-size: 13px;
  color: var(--medium-grey);
  font-family: var(--main-font);
}

.form_element .rs-picker-toggle.rs-picker-toggle.rs-btn.rs-btn-default {
  border: 1px solid var(--border-color);
  height: 40px;
  padding-left: 20px;
  padding-top: 9px;
}

.form_element .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.firm_element .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: var(--dark);
}

.form_element .rs-picker-toggle-placeholder {
  color: var(--medium-grey);
  font-size: 13px;
}

.form_element .rs-picker-toggle-caret.rs-icon {
  transform: scale(1.5);
}

.form_element .rs-picker-toggle-caret.rs-icon path {
  fill: var(--contrast-color);
}

input[id="cb1"] + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1.5px solid var(--border-color);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--light);
}

input[id="cb1"]:checked + label:after {
  position: relative;
  top: -3px;
  left: 3px;
  content: "\2714";
  font-weight: 900;
  font-size: 18px;
  color: var(--border-color);
}

input[id="cb1"] {
  display: none;
}

.checkbox_text {
  color: var(--grey);
  padding-left: 1em;
  font-size: 13px;
  line-height: 24px;
  cursor: pointer;
}

.form_submit {
  height: 40px;
  position: relative;
  bottom: -20px;
  width: 100%;
  background-color: var(--contrast-color);
  color: var(--light);
  font-size: 13px;
  border-radius: 6px;
  transition: ease-in-out 0.2s;
}

.form_submit:hover {
  color: var(--light);
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 1050px) {
  .launches_form {
    flex-wrap: wrap;
    padding-bottom: 0em;
  }

  .form_element {
    width: 48.5%;
    margin-bottom: 2em;
  }

  .form_element:nth-child(3) {
    padding-bottom: 0px;
    align-self: center;
  }

  .form_submit {
    bottom: 0px;
  }

  .rs-anim-fade {
    border: 1px solid green;
    position: absolute !important;
    top: 45px !important;
    left: 25vw !important;
    transform: scale(0.8);
  }

  .rs-picker-daterange-panel {
    border: 1px solid red;
  }
}

@media only screen and (max-width: 850px) {
  .rs-anim-fade {
    left: 20vw !important;
  }
}

@media only screen and (max-width: 750px) {
  .launches_form {
    margin-bottom: 3em;
  }

  .rs-anim-fade {
    left: 15vw !important;
  }
}

@media only screen and (max-width: 650px) {
  .rs-anim-fade {
    left: 10vw !important;
  }
}

@media only screen and (max-width: 550px) {
  .form_element {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .launches_form {
    margin-bottom: 0.25em;
  }

  .rs-anim-fade {
    top: 92px !important;
    left: -80px !important;
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 450px) {
  .rs-anim-fade {
    top: 82px !important;
    left: -90px !important;
    transform: scale(0.55);
  }
}
